<div mat-dialog-content>
  <form [formGroup]="form" class="edit-form">
    <ng-container *ngFor="let item of fieldsWithKey">
      <div class="field-row">
        <div class="field-with-icon">
          <ng-container [ngSwitch]="item.field.type">
            <mat-form-field *ngSwitchCase="'Text'" appearance="outline" class="form-field">
              <mat-label>{{ getLabel(item.field) }}</mat-label>
              <input matInput [formControlName]="item.key" />
              <mat-hint *ngIf="item.field.helpText">{{ item.field.helpText }}</mat-hint>
              <mat-error *ngIf="form.get(item.key)?.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'Email'" appearance="outline" class="form-field">
              <mat-label>{{ getLabel(item.field) }}</mat-label>
              <input type="email" matInput [formControlName]="item.key" />
              <mat-hint *ngIf="item.field.helpText">{{ item.field.helpText }}</mat-hint>
              <mat-error *ngIf="form.get(item.key)?.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'Number'" appearance="outline" class="form-field">
              <mat-label>{{ getLabel(item.field) }}</mat-label>
              <input type="number" matInput [formControlName]="item.key" />
              <mat-hint *ngIf="item.field.helpText">{{ item.field.helpText }}</mat-hint>
              <mat-error *ngIf="form.get(item.key)?.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'Textarea'" appearance="outline" class="form-field">
              <mat-label>{{ getLabel(item.field) }}</mat-label>
              <textarea matInput rows="4" [formControlName]="item.key"></textarea>
              <mat-hint *ngIf="item.field.helpText">{{ item.field.helpText }}</mat-hint>
              <mat-error *ngIf="form.get(item.key)?.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'Select'" appearance="outline" class="form-field">
              <mat-label>{{ getLabel(item.field) }}</mat-label>
              <mat-select [formControlName]="item.key">
                <mat-option *ngIf="!form.get(item.key)?.value" value="">-- select --</mat-option>
                <mat-option *ngFor="let opt of item.options" [value]="opt.value">{{ opt.label }}</mat-option>
              </mat-select>
              <mat-hint *ngIf="item.field.helpText">{{ item.field.helpText }}</mat-hint>
              <mat-error *ngIf="form.get(item.key)?.hasError('required')">This field is required</mat-error>
            </mat-form-field>

            <div *ngSwitchCase="'Checkbox'" class="checkbox-row">
              <mat-checkbox [formControlName]="item.key">{{ getLabel(item.field) }}</mat-checkbox>
              <div *ngIf="item.field.helpText" class="help-text">{{ item.field.helpText }}</div>
            </div>

            <div *ngSwitchCase="'Radio'" class="radio-row">
              <label class="field-label">{{ getLabel(item.field) }}</label>
              <mat-radio-group [formControlName]="item.key">
                <mat-radio-button *ngFor="let opt of item.options" [value]="opt.value">{{ opt.label }}</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="item.field.helpText" class="help-text">{{ item.field.helpText }}</div>
            </div>

            <mat-form-field *ngSwitchDefault appearance="outline" class="form-field">
              <mat-label>{{ getLabel(item.field) }}</mat-label>
              <input matInput [formControlName]="item.key" />
              <mat-hint *ngIf="item.field.helpText">{{ item.field.helpText }}</mat-hint>
              <mat-error *ngIf="form.get(item.key)?.hasError('required')">This field is required</mat-error>
            </mat-form-field>
          </ng-container>
        </div>

        <mat-icon *ngIf="hasParsedValidation(item.field)" class="validation-icon"
          [ngClass]="validationIconClass(form.get(item.key))">
          {{ validationIconName(form.get(item.key)) }}
        </mat-icon>
      </div>
    </ng-container>

    <div *ngIf="errorMessage" class="dialog-error">{{ errorMessage }}</div>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" type="button" class="btn-primary" (click)="onSave()" [disabled]="form.invalid">
    <mat-icon>save</mat-icon>
    <span>Save</span>
  </button>
</div>
